*.jar
*.class
*.pyc
*.log
player.tgz
*.py[co]
*.so
*.o
*.swp
project/Admin/tournament*.txt
project/Admin/final_results*.html
project/Admin/files/history/*
project/Admin/files/players.*
project/Admin/files/history/*
scaffold
build
src/relation/relation.c
*_test
